* {
    box-sizing: border-box;
}

.grid {
    border: 1px solid black;
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.gridSquare {
    border: 1px solid black;
}

.gridSquare-hover {
    opacity: 0;
}