* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    height: 960px;
    width: 960px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* flex-basis: 100px; */
}

.gridSquare {
    border: 1px solid black;
    flex-grow: 1;
}

.gridSquare-hover {
    background-color: blue;
}